.jumbotron {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #f8acba;
}

#about {
  padding-top: 4rem;
}

#galeri {
  padding-top: 4rem;
  background-color: #f9d7dd;
}

#contact {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer {
  padding-top: 2rem;
  background-color: #fba1b6;
}
